<div class="container-fluid">
    <div class="row g-4 md-4">
       <div class="col-md-4">
          <div class="card h-100 bg-success bg-opacity-75 text-white">
             <div class="card-body">
                <h5 class="card-title">Total Income</h5>
                <h3 class="card-text">{{ getTotalIncome() | currency }}</h3>
             </div>
          </div>
    </div>
     <div class="col-md-4">
          <div class="card h-100 bg-danger bg-opacity-75 text-white">
             <div class="card-body">
                <h5 class="card-title">Total Expense</h5>
                <h3 class="card-text">{{ getTotalExpense() | currency }}</h3>
             </div>
          </div>
       </div>  
        <div class="col-md-4">
          <div class="card h-100 bg-success bg-opacity-75 text-white" [ngClass]="getTotalNetBalance() >= 0 ? 'bg-success' : 'bg-danger'">
             <div class="card-body">
                <h5 class="card-title">Net Balance</h5>
                <h3 class="card-text fw-bold">{{ getTotalNetBalance() | currency }}</h3>
             </div>
          </div>
       </div>      
    </div>

    <h3>Transactions</h3>
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="table table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th style="width: 15%;">Date</th>
                        <th style="width: 15%;">Type</th>
                        <th style="width: 25%;">Category</th>
                        <th style="width: 20%;">Amount</th>
                        <th style="width: 15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.createdAt | date: 'shortDate' }}</td>
                        <td [ngClass]="transaction.type === 'Income' ? 'text-success' : 'text-danger'">{{ transaction.type }}</td>
                        <td>{{ transaction.category }}</td>
                        <td [ngClass]="transaction.type === 'Income' ? 'text-success' : 'text-danger'">{{ transaction.amount | currency }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary me-2" (click)="editTransaction(transaction)">Edit</button>
                            <button class="btn btn-sm btn-danger" (click)="deleteTransaction(transaction)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>